@import "tailwindcss";

:root {
  --primary: #4f46e5;
  --secondary: #a5b4fc;
  --bgColor: #f9fafb;
  --bgGradient: linear-gradient(to bottom right, #6366f1, #a5b4fc);
  --mainText: #111827;
  --label: #6b7280;
  --success: #10b981;
  --borderLight: #e5e7eb;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-bgColor: var(--bgColor);
  --color-bgGradient: var(--bgGradient);
  --color-mainText: var(--mainText);
  --color-label: var(--label);
  --color-success: var(--success);
  --color-borderLight: var(--borderLight);
}

h1,
h2 {
  color: var(--primary);
}

body {
  background: var(--bgColor);
  color: var(--mainText);
}

label,
::placeholder {
  color: var(--label);
  outline: none;
}

.containerBox {
  margin: 0 auto;
  width: 95%;
}
